POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=banking
POSTGRES_PORT=5433
REDIS_URL=redis://redis:6379
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
JWT_SECRET=RANDOM_SECRET_KEY
JWT_ACCESS_EXPIRES_IN=15 # 15 minutes
JWT_REFRESH_EXPIRES_IN=60 # 1 hour

